Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.
Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
Q-3. Write an SQL query to show the last 5 record from a table.

In [1]:
"""Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

ANS ::   select First_NAME as WORKER_NAME from  worker;
"""

'Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.\n\nANS ::   select First_NAME as WORKER_NAME from  worker;\n'

In [2]:
"""Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

ANS::  select Distinct Deparment from worker;
"""

'Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.\n\nANS::  select Distinct Deparment from worker;\n'

In [3]:
"""
Q-3. Write an SQL query to show the last 5 record from a table.

ANS ::  select worker_ID from worker order by worker_id desc limit 5;
"""

'\nQ-3. Write an SQL query to show the last 5 record from a table.\n\nANS ::  select worker_ID from worker order by worker_id desc limit 4,1;\n'