In [ ]:
# Q-13. Write an SQL query to show only odd rows from a table.
ANS ::  
select * from worker where worker_id%2<>0;
select * from worker  (worker_id,2)=0;

In [ ]:
# Q-14. Write an SQL query to clone a new table from another table.

ANS:: create table clone_1 like worker;