In [1]:
"""
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
Q-3. Write an SQL query to print the name of employees having the highest salary in each department.


"""

'\nQ-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.\nQ-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.\nQ-3. Write an SQL query to print the name of employees having the highest salary in each department.\n\n\n'

In [2]:
"""
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

ANS::  select substring(First_name,1,3)  from worker;

"""

'\nQ-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.\n\nANS::  select substring(First_name,1,3)  from worker;\n\n'

In [ ]:
"""
Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

ANS: select distinct department,max(salary) as sl from worker group by department ;
"""